@import 'colors.scss';

.content-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.vote-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.button-reset {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.border-arrow-transparent {
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.vote-score {
  width: 40px;
  padding: 10px;
  text-align: center;
}

.vote-up {
  @extend .button-reset;
  @extend .border-arrow-transparent;
  border-bottom: 40px solid $greyLight;
  &:hover {
    cursor: pointer;
    border-bottom: 40px solid $grey;
  }
}

.vote-down {
  @extend .button-reset;
  @extend .border-arrow-transparent;
  border-top: 40px solid $greyLight;
  &:hover {
    cursor: pointer;
    border-top: 40px solid $grey;
  }
}

.score {
  font-size: 30px;
  margin-bottom: 8px;
  color: $greyDark;
}

.votes {
  font-size: 12px;
  color: $grey;
}

.content {
  padding: 20px;
}

.content-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.content-body {
  font-size: 14px;
  margin-bottom: 10px;
}

.content-author {
  font-size: 12px;
  color: $grey;
  margin-bottom: 6px;
}
