@import 'button.scss';
@import 'card.scss';

.post-detail {
  @extend .card;
}

.buttons {
  margin-bottom: 20px;
}

.post-btn__comment {
  @extend .button;
  background-color: darken($teal, 10%);

  &:hover {
    background-color: darken($teal, 15%);
  }
}

.post-btn__edit {
  @extend .button;
  background-color: $grey;

  &:hover {
    background-color: darken($grey, 5%);
  }
}

.post-btn__delete {
  @extend .button;
  background-color: $red;

  &:hover {
    background-color: darken($red, 5%);
  }
}
