@import 'card.scss';
@import 'colors.scss';

.post {
  @extend .card;
  position: relative;
}

.post + .post {
  margin-top: 20px;
}

.post-details {
  margin-top: 10px;
}

.view-details {
  color: darken($teal, 10%);
  font-size: 14px;
  &:hover {
    color: darken($teal, 15%)
  }
}

.count-comments {
  font-size: 14px;
  color: $grey;
  margin-left: 10px;
}