@import 'colors.scss';

.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar {
  flex-basis: 15%;
  background-color: darken($greyBlue, 5%);
  height: 100vh;
}

.content {
  flex-basis: 85%;
  height: 100vh;
  padding: 20px 40px;
}

.header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sort-container {
  margin-bottom: 10px;
}

.sort {
  margin-right: 8px;
}

.sort-select {
  display: inline-block;
  width: 100px;
}
